<div class="container p-5">
    <div class="border border-light rounded p-5 shadow">
    @if(visibilidadeTabela){
            <Button type="button" class="btn btn-sm btn-secondary" (click)="ExibirFormularioTabela()">Cadastrar Pessoa</Button>
            
            <hr/>
    
            @if(listPessoas){
                <table class="table table-striped table-hover table-sm">
                    <thead>
                        <tr class="thead-light">
                            <th>Nome</th>
                            <th>Sobrenome</th>
                            <th>Idade</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    @for (pessoa of listPessoas; track pessoa) {
                        <tbody>
                            <tr>
                                <td>{{pessoa.name}}</td>
                                <td>{{pessoa.lastName}}</td>
                                <td>{{pessoa.age}}</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-outline-info" (click)="Atualizar(pessoa.userID)"> Atualizar </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-outline-danger" (click)="ExibirModal(pessoa.userID, pessoa.name, modalConfirmaExclusao)"> Excluir </button>
                                </td>
                            </tr>
                        </tbody>
                    }                
                    
                </table>
            }

    } @else if(visibilidadeFormulario){

        @if(formulario){

            <h6>{{tituloFormulario}}</h6>
            <hr>

            <form [formGroup]="formulario" (ngSubmit)="Enviar()">

                <div class="form-group">
                    <label class="my-2"> Nome </label>
                    <input type="text" class="form-control form-control-sm" formControlName="Name"/>
                </div>

                <div class="form-group">
                    <label class="mb-2"> Sobrenome </label>
                    <input type="text" class="form-control form-control-sm" formControlName="LastName"/>
                </div>

                <div class="form-group">
                    <label class="mb-2"> Idade </label>
                    <input type="text" class="form-control form-control-sm" formControlName="Age"/>
                </div>

                
                <div class="container">
                    <div class="row mt-3">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-sm btn-outline-secondary">Salvar</button>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-sm btn-light" (click)="Limpar()">Limpar</button>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-sm btn-light" (click)="Voltar()">Voltar</button>
                        </div>
                    </div>
                </div>
                

            </form>    

        }
        
    }
    </div>
</div>

<ng-template #modalConfirmaExclusao>
    <div class="modal-header">
      <h4 class="modal-title pull-left"> Confirmação de Exclusão </h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>

    <div class="modal-body">
        <p>
            Você tem certeza que deseja excluir {{nomePessoa}}
        </p>      
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-light" (click)="modalRef?.hide()"> Não </button>    
        <button type="button" class="btn btn-sm btn-outline-danger" (click)="Deletar(pessoaId)"> Sim </button>    
    </div>
  </ng-template>